.container {
  position: absolute;
  width: 375px;
  height: 718px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  background-image:  url("images/background-image.png");
}

.container {
  display: flex;
  flex-direction: column;
}

.heading-1 {
  height: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.greetings {
  font-family: 'Poppins' Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172B4D;
}

.heading {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7F8CFF;
}

.heading h3 {
  width: 117px;
  height: 24px;
}


.heading {
  display: flex;
  justify-content: flex-start;
  padding-left: 30px;
}

.greetings p {
  width: 327px;
  height: 150px;
}
.greetings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563
}

.about-me p {
  width: 327px;
  height: 146px;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon-bar {
  display: flex;
}

.toolbar a {
  width: 76px;
  height: 20px;
  font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.toolbar {
  display: flex;
  justify-content: space-between;
}




