.container {
  position: absolute;
  width: 375px;
  height: 718px;
  left: 0;
  top: 0;
  background: #fff;
  background-image: url("images/background-image.png");
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.greetings {
  font-family: 'Poppins' Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  display: flex;
  align-items: center;
  padding-top: 100px;
}

.heading {
  font-family: 'Poppins' Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  display: flex;
  align-items: center;
}

.greetings {
  width: 327px;
  height: 150px;
  display: flex;
  align-items: center;
}

.about-me {
  font-family: 'Poppins' Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  width: 327px;
  height: 146px;
  display: flex;
  align-items: center;
}

.icon-bar {
  list-style: none;
  width: 117px;
  height: 24px;
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.toolbar {
  display: flex;
  justify-content: space-between;
}

.toolbar a {
  width: 76px;
  height: 20px;
  font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}
.toolbar img {
  width: 20px;
  top: 20px;
  right: 10px
}

