.container {
  position: absolute;
  width: 375px;
  height: 718px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  background-image:  url("images/background-image.png");
}

.container {
  display: flex;
  flex-direction: column;
}

.heading-1 {
  height: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.greetings {
  font-family: 'Poppins' Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172B4D;
}

.heading {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7F8CFF;
}

.heading h3 {
  width: 117px;
  height: 24px;
}


.heading {
  display: flex;
  justify-content: flex-start;

}

.greetings p {
  width: 327px;
  height: 150px;
}
.greetings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-me {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563
}

.about-me p {
  width: 327px;
  height: 146px;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-bar .twitter {
  position: absolute;
  left: 6.4%;
  right: 88.27%;
  top: 77.81%;
  bottom: 18.88%;
}

.icon-bar .linkedin {
  position: absolute;
  left: 18.74%;
  right: 77.87%;
  top: 78.32%;
  bottom: 18.87%;
}

.icon-bar .m {
  position: absolute;
  left: 27.47%;
  right: 67.2%;
  top: 78.15%;
  bottom: 19.21%;
}

.icon-bar .hand {
  position: absolute;
  left: 38.13%;
  right: 57.07%;
  top: 77.81%;
  bottom: 18.87%;
}

.icon-bar .cat {
  position: absolute;
  left: 48%;
  right: 48.22%;
  top: 77.81%;
  bottom: 18.87%;
}

.about-me > * {
  display: flex;
}

.toolbar a {
  width: 76px;
  height: 20px;
  font-family: Helvetica, Arial, Verdana, Tahoma, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.toolbar {
  display: flex;
  justify-content: space-between;
}




